.grid-container {
  display: grid;
  grid-gap: 0px; 
}

header, .animations {
  font-family: 'Square Peg', cursive;
  font-size: 3em;
  text-align: center;
}

.van-animation {
  background-color: #eab676;
  padding-bottom: 1px;
}

.cat-peekaboo {
  background-color: #afeeeeff;
  padding-bottom: 1px;
}

/*text-animation*/
/*
@keyframes letterBounce {
  from {
    margin-left: 0px;
  } to {
    margin-left: 50px;
  }
}


.headline #letter_current {
  animation-name: letterPop;
  animation-iteration-count: infinite;
  transition: ease-in-out;
  animation-duration: 2s;
}
*/
/*van-animation*/
@keyframes bus-drive {
  0% { transform: translateX(-660px) rotateY(0deg);}
  30% { transform: translateX(700px);}
  31% { transform: translateX(700px) rotateY(180deg); transform-origin: 700px;}
  99% { transform: translateX(-660px) rotateY(180deg);}
  100% { transform: translateX(-660px) rotateY(0deg); transform-origin: -660px;}
}

@keyframes bus-drive-wheel-1 {
  0%   { transform-origin: 681.636px 184.036px; }
  49%  { transform-origin: 681.636px 184.036px; transform: rotate(1400deg); }
  100% { transform-origin: 681.636px 184.036px; transform: rotate(3600deg); }
}

@keyframes bus-drive-wheel-2 {
  0%   { transform-origin: 387.128px 183.916px; }
  50%  { transform-origin: 387.128px 183.916px; transform: rotate(1400deg); }
  100% { transform-origin: 387.128px 183.916px; transform: rotate(3600deg); }
}

.bus #layer2,
.bus #layer2 #layer1,
.bus #layer2 #layer3 {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 20s;
}

.bus #layer2 {
  animation-name: bus-drive;
}

.bus #layer2 #layer1 {
  animation-name: bus-drive-wheel-1;
}

.bus #layer2 #layer3 {
  animation-name: bus-drive-wheel-2;
}

/*cat-animation*/
  #face:hover {
	transition: transform 0.3s ease-out;
	transform: translate(0.0px, -9px);
	transition-timing-function: ease-out;
 }

